body{

  background-color:#F0F8FF;
}



img{
  border-radius: 50%;
}

ul.nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
  width: 312px;
}

li.nav{
  float:left;
}
li.nav a{
  display: block;
  text-decoration: none;
  color: white;
  text-align:center;
  padding:14px 16px;
}

li.nav a:hover{
  background-color: #999;
}

hr{
  align: center;
  border-style: none;
  border-top: 4px dotted ;
  width:4%;
  border-color: rgba(0, 0, 0, 0.3);

}

h1{
  color:#66BFBF;
}

h3
{
  color:#66BFBF;
}
